*{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
  &:hover{
    color: red;
    transition: 0.5s;
  }
}

body{
  background-color: black;
}
